In [1]:
conda install numpy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np

In [7]:
import numpy as np
print(np.__version__)

1.19.2

In [6]:
import numpy as np
print(np.__version__)

1.19.2

In [9]:
import numpy as np
a = np. array([0,1,2,3,4,5,6,7,8,9])
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 1---Making 1d arrays

In [17]:
import numpy as np
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 2-- Creating Boolean Array

In [35]:
import numpy as np
np.full((6, 6), False, dtype=bool)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [62]:
np.zeros((5,5), dtype=bool)

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [49]:
np.ones((5,5), dtype=bool)

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True]])

In [61]:
import numpy as np
np.full((9, 9), True, dtype=bool)

array([[ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True]])

# 3--Getting odd values from array

In [57]:
a=np.arange(100)
a[a%2==1]

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99])

# 4--Getting Even values from array

In [60]:
a=np.arange(100)
a[a%2==0]

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66,
       68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

# 5-- How to replace ODD numbers with -1 in numpy array?

In [65]:
a=np.arange(100)
a[a%2==1]= -1
a

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1, 10, -1, 12, -1, 14, -1, 16,
       -1, 18, -1, 20, -1, 22, -1, 24, -1, 26, -1, 28, -1, 30, -1, 32, -1,
       34, -1, 36, -1, 38, -1, 40, -1, 42, -1, 44, -1, 46, -1, 48, -1, 50,
       -1, 52, -1, 54, -1, 56, -1, 58, -1, 60, -1, 62, -1, 64, -1, 66, -1,
       68, -1, 70, -1, 72, -1, 74, -1, 76, -1, 78, -1, 80, -1, 82, -1, 84,
       -1, 86, -1, 88, -1, 90, -1, 92, -1, 94, -1, 96, -1, 98, -1])

# 6-- How to replace Even numbers with 2 in numpy array?

In [66]:
a=np.arange(100)
a[a%2==0]=2
a

array([ 2,  1,  2,  3,  2,  5,  2,  7,  2,  9,  2, 11,  2, 13,  2, 15,  2,
       17,  2, 19,  2, 21,  2, 23,  2, 25,  2, 27,  2, 29,  2, 31,  2, 33,
        2, 35,  2, 37,  2, 39,  2, 41,  2, 43,  2, 45,  2, 47,  2, 49,  2,
       51,  2, 53,  2, 55,  2, 57,  2, 59,  2, 61,  2, 63,  2, 65,  2, 67,
        2, 69,  2, 71,  2, 73,  2, 75,  2, 77,  2, 79,  2, 81,  2, 83,  2,
       85,  2, 87,  2, 89,  2, 91,  2, 93,  2, 95,  2, 97,  2, 99])

# 7 how to keep origional array by applying condition simultaneously

In [72]:
arr_1 = np.arange(100)
abc= np.where(arr_1 % 2 == 1, -1, arr_1)
print(arr_1)
abc

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1, 10, -1, 12, -1, 14, -1, 16,
       -1, 18, -1, 20, -1, 22, -1, 24, -1, 26, -1, 28, -1, 30, -1, 32, -1,
       34, -1, 36, -1, 38, -1, 40, -1, 42, -1, 44, -1, 46, -1, 48, -1, 50,
       -1, 52, -1, 54, -1, 56, -1, 58, -1, 60, -1, 62, -1, 64, -1, 66, -1,
       68, -1, 70, -1, 72, -1, 74, -1, 76, -1, 78, -1, 80, -1, 82, -1, 84,
       -1, 86, -1, 88, -1, 90, -1, 92, -1, 94, -1, 96, -1, 98, -1])

# 8 -- reshaping an array into 2 rows

In [79]:
a = np.arange(100)
b = np.reshape(a, (2, -1))
b

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
        48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
        66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98, 99]])

# 9 -- reshaping an array into 2 Columns

In [82]:
a = np.arange(26)
b = np.reshape(a, (-1, 2))
b

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23],
       [24, 25]])

# 10 -- vertical stacking method 1

In [95]:
a = np.arange(26).reshape(2, -1)
b = np.repeat(1, 26).reshape(2, -1)
np.vstack((a, b))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])

# 11 -- vertical stacking method 2

In [96]:
a = np.arange(26).reshape(2, -1)
b = np.repeat(1, 26).reshape(2, -1)
np.concatenate([a, b], axis=0)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])

# 12 -- vertical stacking method 3

In [97]:
a = np.arange(26).reshape(2, -1)
b = np.repeat(1, 26).reshape(2, -1)
np.r_[a, b]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])

# 13--horizontal stacking method 1

In [100]:
a = np.arange(26).reshape(2,-1)
b = np.repeat(1, 26).reshape(2,-1)
np.hstack((a,b))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])

# 14 --horizontal stacking method 2

In [101]:
a = np.arange(26).reshape(2, -1)
b = np.repeat(1, 26).reshape(2, -1)
np.concatenate([a, b], axis=1)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])

# 15 --horizontal stacking method 3

In [102]:
a = np.arange(26).reshape(2, -1)
b = np.repeat(1, 26).reshape(2, -1)
np.c_[a, b]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,  1,  1,  1,
         1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])

# 16-- repeating the elements in array for sequences 1

In [109]:
a=np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
np.r_[np.repeat(a,6)]

array([1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4,
       4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8,
       8, 8, 8, 8, 9, 9, 9, 9, 9, 9])

# 17-- repeating the elements in array for sequences 2

In [110]:
 a=np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
np.r_[np.tile(a, 6)]

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4,
       5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8,
       9, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 18-- getting comon elements from two different arrays

In [114]:
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,9,11,13,15,17,19])
np.intersect1d(a,b)

array([ 1,  3,  5,  7,  9, 11, 13, 15])

# 19-- get the different items between two python numpy arrays

In [115]:
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,9,11,13,15,17,19])
np.setdiff1d(a, b)

array([ 2,  4,  6,  8, 10, 12, 14, 16])

In [116]:
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,9,11,13,15,17,19])
np.setdiff1d(b, a)

array([17, 19])

# 20 finding where one array matches to an other array

In [123]:
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,5,11,13,15,17,19,11,23,25,27,29,31])
np.where(a==b)

(array([ 0,  4, 10], dtype=int64),)

# 21 extracting the number ranges from an array

In [138]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
b[(b >= 5) & (b <= 25)]

array([10,  5,  7,  5, 25,  8, 20, 12, 11])

# 22 finding where one array matches to the given range

In [139]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
index = np.where(np.logical_and(b>=5, b<=25))
index

(array([ 0,  2,  5, 10, 11, 12, 13, 14, 15], dtype=int64),)

In [140]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
index = np.where((b >=5) & (b <=25))
index

(array([ 0,  2,  5, 10, 11, 12, 13, 14, 15], dtype=int64),)

# 23 finding where one array does not match with other array

In [144]:
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,5,11,13,15,17,19,11,23,24,14,29,16])
np.where(a!=b)

(array([ 1,  2,  3,  5,  6,  7,  8,  9, 11, 12, 14], dtype=int64),)

# 24 comparing two arrays for maximum values to make one array

In [149]:
def a(x, y):
    if x >= y:
        return x
    else:
        return y

combined = np.vectorize(a, otypes=[float])
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,5,11,13,15,17,19,11,23,24,14,29,16])
combined(a, b)

array([ 1.,  3.,  5.,  7.,  5., 11., 13., 15., 17., 19., 11., 23., 24.,
       14., 29., 16.])

# 25 comparing two arrays for minimum values to make one array

In [150]:
def c(x, y):
    if x <= y:
        return x
    else:
        return y

combined = np.vectorize(c, otypes=[float])
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
b = np.array([1,3,5,7,5,11,13,15,17,19,11,23,24,14,29,16])
combined(a, b)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16.])

# 26 swaping columns in 2darray

In [172]:
arr=np.arange(9).reshape(3,3)
arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [173]:
arr=np.arange(9).reshape(3,3)
arr[:,[2,0,1]]

array([[2, 0, 1],
       [5, 3, 4],
       [8, 6, 7]])

# 27 reversing the arrays

In [178]:
arr=np.arange(9).reshape(3,3)
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

# 28 extracting columns

In [197]:
arr=np.arange(81).reshape(-1,3)
arr[:,[0,1,2]]

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29],
       [30, 31, 32],
       [33, 34, 35],
       [36, 37, 38],
       [39, 40, 41],
       [42, 43, 44],
       [45, 46, 47],
       [48, 49, 50],
       [51, 52, 53],
       [54, 55, 56],
       [57, 58, 59],
       [60, 61, 62],
       [63, 64, 65],
       [66, 67, 68],
       [69, 70, 71],
       [72, 73, 74],
       [75, 76, 77],
       [78, 79, 80]])

In [198]:
arr[::,-3] # extracting first column

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78])

In [199]:
arr[::,-2] # extracting second column

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49,
       52, 55, 58, 61, 64, 67, 70, 73, 76, 79])

In [200]:
arr[::,-1] # extracting third column

array([ 2,  5,  8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50,
       53, 56, 59, 62, 65, 68, 71, 74, 77, 80])

# 29 revesing each set

In [208]:
arr = np.arange(102).reshape(-1,3)
arr[:,::-1]

array([[  2,   1,   0],
       [  5,   4,   3],
       [  8,   7,   6],
       [ 11,  10,   9],
       [ 14,  13,  12],
       [ 17,  16,  15],
       [ 20,  19,  18],
       [ 23,  22,  21],
       [ 26,  25,  24],
       [ 29,  28,  27],
       [ 32,  31,  30],
       [ 35,  34,  33],
       [ 38,  37,  36],
       [ 41,  40,  39],
       [ 44,  43,  42],
       [ 47,  46,  45],
       [ 50,  49,  48],
       [ 53,  52,  51],
       [ 56,  55,  54],
       [ 59,  58,  57],
       [ 62,  61,  60],
       [ 65,  64,  63],
       [ 68,  67,  66],
       [ 71,  70,  69],
       [ 74,  73,  72],
       [ 77,  76,  75],
       [ 80,  79,  78],
       [ 83,  82,  81],
       [ 86,  85,  84],
       [ 89,  88,  87],
       [ 92,  91,  90],
       [ 95,  94,  93],
       [ 98,  97,  96],
       [101, 100,  99]])

# 30 making array of random numbers with 5 columns and 5 rows with range between 0 to 1: method 1

In [234]:
arr = np.arange(25).reshape(5,5)
rdm_array=np.random.randint(low = 0, high = 1, size=(5,5)) + np.random.random((5,5))
print(rdm_array)

[[0.42361374 0.27767371 0.37430408 0.08607303 0.40722181]
 [0.09515444 0.31670036 0.19540861 0.3391608  0.9750283 ]
 [0.69088102 0.77378174 0.04686295 0.19329593 0.2255704 ]
 [0.4506874  0.50828683 0.80920066 0.18545589 0.02414334]
 [0.01938439 0.89807318 0.81427807 0.75154379 0.29462698]]

# 31 making array of random numbers with 2 rows and 6 columns with range between 0 to 5: method 2

In [241]:
arr = np.arange(25).reshape(5,5)
rad_1 = np.random.uniform(0,5, size=(2,6))
print(rad_1)

[[2.01590506 3.56688755 0.1307701  0.8558351  0.59915277 3.48539608]
 [2.63436311 0.64333149 1.6431285  3.65492603 3.23152866 0.67598229]]

# 32 random array into 4 decimal place

In [248]:
arr = np.arange(25).reshape(5,5)
rad_1 = np.random.uniform(0,5, size=(6,6))
np.set_printoptions(precision=3)
print(rad_1)
rad_1 [:4]

[[2.257 4.276 2.454 3.64  2.84  0.299]
 [4.826 2.366 0.752 1.609 1.832 0.229]
 [4.217 4.003 2.788 1.179 3.067 3.021]
 [3.357 0.483 0.93  4.903 4.097 4.93 ]
 [1.964 3.079 4.795 4.231 2.937 4.325]
 [0.934 0.176 0.567 1.431 3.644 4.795]]

array([[2.257, 4.276, 2.454, 3.64 , 2.84 , 0.299],
       [4.826, 2.366, 0.752, 1.609, 1.832, 0.229],
       [4.217, 4.003, 2.788, 1.179, 3.067, 3.021],
       [3.357, 0.483, 0.93 , 4.903, 4.097, 4.93 ]])

# 33 suppressing the scientific notation 1e10 in order to pretty print numpy array

In [257]:
np.set_printoptions(suppress=False)
np.random.seed(200)
rand_arr = np.random.random([3,3])/1e3
rand_arr

array([[9.476323e-04, 2.265474e-04, 5.944201e-04],
       [4.283087e-04, 7.641407e-04, 2.860592e-06],
       [3.574237e-04, 9.096949e-04, 4.560810e-04]])

In [258]:
np.set_printoptions(suppress=True, precision=6)
rand_arr

array([[0.000948, 0.000227, 0.000594],
       [0.000428, 0.000764, 0.000003],
       [0.000357, 0.00091 , 0.000456]])

# 34 Limit the number of items printed in output of numpy array

In [260]:
arr = np.arange(25)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [271]:
np.set_printoptions(threshold=6)
arr = np.arange(25)
arr

array([ 0,  1,  2, ..., 22, 23, 24])

# 35 see full number of items printed in output without truncated

In [278]:
arr = np.arange(25)
np.set_printoptions(threshold=np.sys.maxsize)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

# 36 getting data from website in text form with numbers and text  in order to keep the text intact

In [279]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')
iris[:3]

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa']], dtype=object)

# 37 how to calculate mean

In [280]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
np.mean(b)

7.3125

# 38 how to calculate median

In [281]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
np.median(b)

5.0

# 39 how to calculate standard deviation

In [282]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
np.std(b)

6.788950121336877

# 40 normalize an array so the values range exactly between 0 and 1

In [286]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
bmax, bmin = b.max(), b.min()
x = (b - bmin)/(bmax - bmin)
print (x)

[0.4  0.12 0.2  0.08 0.04 0.28 0.12 0.16 0.   0.04 0.2  1.   0.32 0.8
 0.48 0.44]

In [287]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
bmax, bmin = b.max(), b.min()
x = (b - bmin)/b.ptp()
print (x)

[0.4  0.12 0.2  0.08 0.04 0.28 0.12 0.16 0.   0.04 0.2  1.   0.32 0.8
 0.48 0.44]

# 41 finding percentile score of an array

In [331]:
b = np.array([10,3,5,2,1,7,3,4,0,1,5,25,8,20,12,11])
np.percentile(b, q=[5, 95])

array([ 0.75, 21.25])

# 42 From the array b, replace all values greater than 50 to 50 and less than 15 to 15:Method 1

In [329]:
np.set_printoptions(precision=2)
np.random.seed(100)
a = np.random.uniform(1,80, 20)
np.clip(a, a_min=15, a_max=50)

array([43.93, 22.99, 34.54, 50.  , 15.  , 15.  , 50.  , 50.  , 15.  ,
       46.43, 50.  , 17.53, 15.64, 15.  , 18.36, 50.  , 50.  , 15.  ,
       50.  , 22.65])

# 43 From the array b, replace all values greater than 50 to 50 and less than 15 to 15:Method 2

In [327]:
np.set_printoptions(precision=2)
np.random.seed(100)
b = np.random.uniform(1,80, 20)
print(np.where(b < 15, 15, np.where(b > 50, 50, b)))

[43.93 22.99 34.54 50.   15.   15.   50.   50.   15.   46.43 50.   17.53
 15.64 15.   18.36 50.   50.   15.   50.   22.65]

# 44 top 5 n values of numpy arrays

In [338]:
np.random.seed(100)
a = np.random.uniform(1,50, 20)
a[a.argsort()][-5:]

array([41.  , 41.47, 42.39, 44.67, 48.95])

In [339]:
np.random.seed(100)
a = np.random.uniform(1,50, 20)
np.sort(a)[-5:]

array([41.  , 41.47, 42.39, 44.67, 48.95])

In [341]:
np.random.seed(100)
a = np.random.uniform(1,50, 20)
np.partition(a, kth=-5)[-5:]

array([41.  , 41.47, 42.39, 44.67, 48.95])

# 45 row wise counting of all possible values in an array

In [346]:
np.random.seed(100)
arr = np.random.randint(5,15,size=(7, 10))
arr

array([[13, 13,  8, 12, 12,  5,  9,  7, 10,  7],
       [ 7,  7,  6,  5, 13,  9,  5, 14, 11,  7],
       [ 9,  6, 10,  8,  9,  9,  8, 12,  6,  6],
       [12, 12,  5,  7, 14, 14,  8,  7, 10, 13],
       [ 6,  5, 12, 11,  7,  5, 13,  7, 10,  6],
       [13,  6, 10,  9,  7, 13,  8, 10,  5, 14],
       [ 8, 11,  8,  9, 12, 11,  8, 14,  5,  9]])

In [355]:
def counts_of_all_values_rowwise(arr2d):
    # Unique values and its counts row wise
    num_counts_array = [np.unique(row, return_counts=True) for row in arr2d]

    # Counts of all values row wise
    return([[int(b[a==i]) if i in a else 0 for i in np.unique(arr2d)] for a, b in num_counts_array])
print(np.arange(5,15))
counts_of_all_values_rowwise(arr)

[ 5  6  7  8  9 10 11 12 13 14]

[[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
 [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
 [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
 [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
 [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1, 2, 0, 0, 2, 1],
 [1, 0, 0, 3, 2, 0, 2, 1, 0, 1]]

[ 5  6  7  8  9 10 11 12 13 14]

[[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
 [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
 [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
 [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
 [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1, 2, 0, 0, 2, 1],
 [1, 0, 0, 3, 2, 0, 2, 1, 0, 1]]

# 46 converting array of arrays into a 1d array: Method 1

In [357]:
a = np.arange(5)
b = np.arange(2,5)
c = np.arange(4,8)

arr_of_arrs = np.array([a, b, c], dtype = object)
arr_of_arrs

array([array([0, 1, 2, 3, 4]), array([2, 3, 4]), array([4, 5, 6, 7])],
      dtype=object)

In [361]:
arr= np.array([a for arr in arr_of_arrs for a in arr])
arr

array([0, 1, 2, 3, 4, 2, 3, 4, 4, 5, 6, 7])

# 47 converting array of arrays into a 1d array: Method 2

In [362]:
a = np.arange(5)
b = np.arange(2,5)
c = np.arange(4,8)
arr_of_arrs = np.array([a, b, c], dtype = object)
arr = np.concatenate(arr_of_arrs)
arr

array([0, 1, 2, 3, 4, 2, 3, 4, 4, 5, 6, 7])

# 48# find the index of n'th repetition of an item in an array method 1

In [363]:
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
n=5
[i for i, v in enumerate(x) if v == 1][n-1]

8

# 49# find the index of n'th repetition of an item in an array method 2

In [364]:
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
n=5
np.where(x == 1)[0][n-1]

8

# 50# subtract a 1d array from a 2d array, where each item of 1d array subtracts from respective row?

In [374]:
a = np.array([[3,3,3],[4,4,4],[5,5,5],[6,6,6],[7,7,7]])
b = np.array([1,2,3,4,5])
c=a - b[:,None]             
print(c)

[[2 2 2]
 [2 2 2]
 [2 2 2]
 [2 2 2]
 [2 2 2]]

# 51# finding peaks

In [375]:
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
doublediff = np.diff(np.sign(np.diff(a)))
peak_locations = np.where(doublediff == -2)[0] + 1
peak_locations

array([2, 5], dtype=int64)